includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app

services:
    -
        class: Modules\AI\Rules\DisallowDirectInstantiationRule
        tags:
            - phpstan.rules.rule
    -
        class: Modules\AI\Rules\DisallowElseRule
        tags:
            - phpstan.rules.rule
